h1 {
	background-color: cyan;
	color: red;
	text-align: center;
    font-size: 50px;
}

div {
	background-color: lightskyblue; /* Цвет фона */
	margin-bottom: 50px;
	padding: 50px; /* Внутренний отступ */
}
.post-1 {
	background-color: green;
}
.post-2 {
	background-color: red;
}
h2 {
	text-align: center; /* центрирование текста */
	margin-bottom: 30px;
    font-size: 36px;
}

p {
	color: yellow;
	text-align: center;
    font-size: 24px;
}
img {
    display: block; /* Картинке задаются блочные параметры*/ 
    margin: auto; /* Внешний отступ слева и справа*/
	width: 50%; /* Ширина картинки */
	margin-bottom: 25px;
}
