body {
	background-color: #e1ebf5;
	padding-left: 20px;
	padding-right: 20px;
}

div {
	background-color: #34495e;
	border-radius: 20px;
	padding: 21px;
	margin-bottom: 20px;
}

p {
	color: white;
	margin-left: 50px;
	margin-right: 50px;
}
